.circulo{
    height: 300px;
    width: 300px;
    background-color: crimson;
    border-radius: 50%;
    transition: ease 1s;
}

.circulo:hover{
    background-color: green;
    border-radius: 10%;
}